body {
           display: flex;
           flex-flow: column nowrap;
           align-items: center;
           gap: 30px 0;
           background-color: #2175d8;
           margin: 30px;
       }
       h1 {
           font-size: 50px;
           color: white;
           margin: 0 0 20px;
       }
       p {
         color: white;
       }
       a {
           padding: 10px;
           font-size: 20px;
           border: 2px solid #004C98;
           color: #004C98;
           background-color: white;
           text-decoration: none;
           border-radius: 5px;
           box-shadow: 0 1px #004C98;
       }
       a:hover {
           color: white;
           background-color: #004C98;
           box-shadow: 0 1px white;
       }
       a:active {
           box-shadow: none;
           position: relative;
           top: 4px;
       }
